# Application Configuration
PORT=3000
NODE_ENV=development

# PostgreSQL Database Connection (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/agittest_db?schema=public"

# Candidate Configuration
CANDIDATE_TOKEN="GHALIBCANDIDATE"
